<h3 class="ui header">{{t "forms.i-i-s-kofeavtomat-кофе-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.наименование
      class=(if (v-get validationModel "наименование" "isInvalid") "error")
      label=(t "forms.i-i-s-kofeavtomat-кофе-e.наименование-caption")
      data-test-i-i-s-kofeavtomat-кофе-e-наименование=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "наименование" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.цена
      class=(if (v-get validationModel "цена" "isInvalid") "error")
      label=(t "forms.i-i-s-kofeavtomat-кофе-e.цена-caption")
      data-test-i-i-s-kofeavtomat-кофе-e-цена=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "цена" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-kofeavtomat-кофе-e.материалы-caption"}}</label>
    {{flexberry-groupedit
      componentName="материалыGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.материалы
      content=model.материалы
      readonly=readonly
      orderable=false
      class=(if (v-get validationModel "материалы" "isInvalid") "error")
      data-test-i-i-s-kofeavtomat-кофе-e-материалы=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "материалы" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-kofeavtomat-кофе-e.допы-caption"}}</label>
    {{flexberry-groupedit
      componentName="допыGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.допы
      content=model.допы
      readonly=readonly
      orderable=false
      class=(if (v-get validationModel "допы" "isInvalid") "error")
      data-test-i-i-s-kofeavtomat-кофе-e-допы=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "допы" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-kofeavtomat-кофе-e.стаканчик-caption"}}</label>
    {{flexberry-groupedit
      componentName="стаканчикGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.стаканчик
      content=model.стаканчик
      readonly=readonly
      orderable=false
      class=(if (v-get validationModel "стаканчик" "isInvalid") "error")
      data-test-i-i-s-kofeavtomat-кофе-e-стаканчик=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "стаканчик" "message")}}
  </div>
</form>
