<h3 class="ui header">{{t "forms.i-i-s-kofeavtomat-кофе-машина-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.номер
      class=(if (v-get validationModel "номер" "isInvalid") "error")
      label=(t "forms.i-i-s-kofeavtomat-кофе-машина-e.номер-caption")
      data-test-i-i-s-kofeavtomat-кофе-машина-e-номер=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "номер" "message")}}
  </div>
  <div class="field" data-test-i-i-s-kofeavtomat-кофе-машина-e-состояние="true">
    <label>{{t "forms.i-i-s-kofeavtomat-кофе-машина-e.состояние-caption"}}</label>
    {{flexberry-dropdown
      items=(flexberry-enum "i-i-s-kofeavtomat-состояния")
      value=model.состояние
      class=(if (v-get validationModel "состояние" "isInvalid") "error")
      readonly=readonly
    }}
    {{flexberry-validationmessage error=(v-get validationModel "состояние" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-kofeavtomat-кофе-машина-e.этаж-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.этаж
      displayAttributeName="этаж"
      autocomplete=true
      relationName="этаж"
      projection="ЭтажL"
      title=(t "forms.i-i-s-kofeavtomat-кофе-машина-e.этаж-caption")
      readonly=readonly
      componentName="этажLookup"
      class=(if (v-get validationModel "этаж" "isInvalid") "error")
      data-test-i-i-s-kofeavtomat-кофе-машина-e-этаж=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "этаж" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-kofeavtomat-кофе-машина-e.обслуживание-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.обслуживание
      displayAttributeName="наименование"
      autocomplete=true
      relationName="обслуживание"
      projection="ОбслуживаниеL"
      title=(t "forms.i-i-s-kofeavtomat-кофе-машина-e.обслуживание-caption")
      readonly=readonly
      componentName="обслуживаниеLookup"
      class=(if (v-get validationModel "обслуживание" "isInvalid") "error")
      data-test-i-i-s-kofeavtomat-кофе-машина-e-обслуживание=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "обслуживание" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-kofeavtomat-кофе-машина-e.составЗаказа-caption"}}</label>
    {{flexberry-groupedit
      componentName="составЗаказаGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.составЗаказа
      content=model.составЗаказа
      readonly=readonly
      orderable=false
      class=(if (v-get validationModel "составЗаказа" "isInvalid") "error")
      data-test-i-i-s-kofeavtomat-кофе-машина-e-составЗаказа=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "составЗаказа" "message")}}
  </div>
</form>
